/* @wikimedia/codex */
@import "@wikimedia/codex/dist/codex.style.css";
@import "@wikimedia/codex-design-tokens/theme-wikimedia-ui-root.css";
@import "@wikimedia/codex-design-tokens/theme-wikimedia-ui-mode-dark.css" only
  screen and (prefers-color-scheme: dark);

.CodeMirror,
.app-editor-embed,
div:has(> .ace_editor),
.wikiEditor-ui-top {
  display: none;
}

.wikiEditor-ui-view {
  border-width: 0.25rem !important;
  border-color: var(--container) !important;
}

.editOptions {
  background-color: var(--container);
  border: none;
  color: var(--text-on-container);
}

#wpSummary {
  background-color: #f6f8fa;
  color: var(--text-on-container);
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d7de;
  border-radius: 6px;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  #wpSummary {
    background-color: #161b22;
    border-color: #30363d;
  }
}

/* for Copilot btn */
.huiji-css-hook {
  #wpSummaryWidget {
    position: relative;
    input#wpSummary {
      padding-right: 1.75rem;
    }
  }
}
